/*propiedades para que cuente, sume y reste puntos trabajando con checkbox*/

body{
    counter-reset: game;
}

input:checked{
    counter-increment: game;
}

h3::after{
    content: counter(game);
}

/*sin de las propiedades para contar*/

/**/